﻿@model Claranet.Models.ClienteModel
@{

    ViewData["Title"] = "Home Page";
}
<html>
<head>
</head>
<body class="text-center">
    <div class="container-fluid">
        <form class="form-group">
            <h1 class="h3 mb-3 font-weight-normal">Faça login</h1>
            <div class="row justify-content-center">
                <div class="col-6 text-center">
                    <label for="labelLogin" class="sr-only">Login</label>
                    <input type="text" id="inputEmail" class="form-control" placeholder="Seu cnpj" required="" autofocus="">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 text-center">
                    <label for="inputPassword" class="sr-only">Senha</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required="">
                </div>
            </div>
        </form>
        <div class="row justify-content-md-center">
            <div class="col-6">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>
            </div>
        </div>
         <div class="row justify-content-md-center">
            <div class="col-4">
                <a asp-action="EsqueceuSenha">Esqueceu a senha?</a>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-4 text-center">
                <a>Novo por aqui?</a>
                <a asp-controller="Cadastro" asp-action="cadastroCliente">Criar cadastro</a>
            </div>
        </div>
    </div>
</body>
</html>
