﻿@model IEnumerable<ClienteModel>

@{
    ViewData["Title"] = "cadastroCliente";
}
<div class="container">
    <div class="text-center">
        <h1 class="h3 mb-3 font-weight-normal">Tela de cadastro</h1>
    </div>
    <form asp-controller="Cadastro" asp-action="AddCliente" method="post">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="nomeContato">Nome contato</label>
                    <input type="text" class="form-control" name="nomeContato" id="nomeContato" placeholder="Nome de contato" >
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="cnpj">CNPJ/Login</label>
                    <input type="text" class="form-control" id="cnpj" name="cnpj" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  placeholder="Digite o cnpj" required>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="enderecoEmail">Endereço de email</label>
                    <input type="email" class="form-control" name="email" id="enderecoEmail" placeholder="nome@exemplo.com" required>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="nomeFantasia">Nome Fantasia</label>
                    <input type="text" class="form-control" name="nomeFantasia" id="nomeFantasia" placeholder="Digite seu nome fantasia">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Telefone</label>
                    <input type="text" class="form-control" name="telefone" id="telefone" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Digite seu telefone">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="telComercial">Telefone comercial</label>
                    <input type="text" class="form-control" name="telComercial" id="telComercial" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Digite seu telefone comercial">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="celular">Celular</label>
                    <input type="text" class="form-control" name="celular" id="celular" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Digite seu celular">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="logradouro">Logradouro</label>
                    <input type="text" class="form-control" name="logradouro" id="logradouro" placeholder="Seu logradouro">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="numero">Numero</label>
                    <input type="text" class="form-control" name="numero" id="numero" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="4" placeholder="Seu numero">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="complemento">Complemento</label>
                    <input type="text" class="form-control" name="complemento" id="complemento" placeholder="Seu complemento">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="bairro">Bairro</label>
                    <input type="text" class="form-control" name="bairro" id="bairro" placeholder="Seu bairro">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="cidade">Cidade</label>
                    <input type="text" class="form-control" name="cidade" id="cidade" placeholder="Sua cidade">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <input type="text" class="form-control" name="estado" id="estado" placeholder="Seu estado">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="cep">CEP</label>
                    <input type="text" class="form-control" name="cep" id="cep" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Seu Cep">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password"  id="senha" class="form-control" name="senha" placeholder="Sua senha" maxlength="20" required>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-warning" onclick="location.href = '@Url.Action("index", "Home")'">Voltar</button>
            <input type="submit" id="cadastrar" value="cadastrar" onclick="btnCadastrar()" class="btn btn-success">
        </div>
    </form>
</div>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="~/js/CadastroCliente/CadastroCliente.js"></script>
    <script>
        function btnCadastrar() {
            let cnpj = $('#cnpj').val();
            let email = $('#enderecoEmail').val();
            let senha = $('#senha').val();
            let nomeContato = $('#nomeContato').val();
            console.log(cnpj, email, senha);
            if (cnpj != '' || email != '' || senha != '' || nomeContato != '') {
                location.href = '@Url.Action("AddCliente", "Cadastro")';
            }
            else {
                alert("Campo CNPJ, EMAIL e SENHA devem estar preenchidos.");
            }
        }
    </script>
}

